ion-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    
    ion-row {
        min-width: 100%;
    }

    ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.duel-code-input {
    margin-top: 20px;
    padding-top: 20px;
    border: solid;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-color: gray;
}